# {{title}}

{{ question }}
````{toggle} Click to reveal answer
**Answer**
{% if answer is not none %}
{{ answer }}
{% else %}
No answer currently provided. Please feel free to [contribute an answer](https://github.com/empiricalstateofmind/quantguide/tree/master/source).
{% endif %}
````

{% if interviews is defined and interviews|length %}
**Interviews**

This question has been asked at the following companies:
{% for interview in interviews %} 
- {{ interview }}
{% endfor %}
{% endif %}

{% if links is defined and links|length %}
**Links and Further Reading**
{% for name,link in links.items() %} 
- [{{ name }}]({{ link }}) {% if not loop.last %}<br>{% endif %} 
{% endfor %}
{% endif %}

